.ff-repeatable-logic .ff-repeatable-template-holder { display:none; }
.ff-select2-shadow-wrapper { display:none; }
.ff-select2-value-wrapper { display:none; }
.ff-select2-real-wrapper .select {height:20px;}